<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <title>Login - SheFit</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <h1>Login</h1>
    <form onsubmit="login(event)">
        <input type="text" id="login-usuario" placeholder="Usuário" required />
        <input type="password" id="login-senha" placeholder="Senha" required />
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a href="cadastro.html">Cadastre-se</a></p>

    <script src="js/script.js" defer></script>

</body>

</html>